<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761182910749-ftrlarvtn3cvs540s6olqu5bd8vhmeif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761182910749-ftrlarvtn3cvs540s6olqu5bd8vhmeif</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>761182910749-5r6fomoe9ferd719njvfv34lki7auigv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNc0psg208svXFWUAD9aTFCIUOhHxUlc4</string>
	<key>GCM_SENDER_ID</key>
	<string>761182910749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myCarSafety</string>
	<key>PROJECT_ID</key>
	<string>mycarsafety-564fe</string>
	<key>STORAGE_BUCKET</key>
	<string>mycarsafety-564fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761182910749:ios:ceb6183433cee2321109f4</string>
</dict>
</plist>